.f13-movie-head
{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.f13-movie-container
{
  background: #efefef;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

.f13-movie-error
{
  color: #ff0000;
}

.f13-movie-title
{
  font-size: 1.5em;
  font-weight: bold;
}

.f13-movie-year
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-year > span
{
  font-weight: bold;
}

.f13-movie-content
{

}

.f13-movie-released
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-released > span
{
  font-weight: bold;
}

.f13-movie-episode
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-episode > span
{
  font-weight: bold;
}

.f13-movie-totalSeasons
{

}

.f13-movie-plot
{

}

.f13-movie-stats
{
  width: 55%;
  display: inline-block;

}

.f13-movie-image-container
{
  min-width: 200px;
  height: auto;
  display: inline-block;
  width: 40%;
  margin-right: 5%;
  position: relative;
  top: 0px;
}

.f13-movie-image-mid > img
{
  width: 40%;
  height: auto;
  float: left;
  margin:10px;
}

.f13-movie-plot
{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.f13-movie-plot > span
{
  display: block;
  font-weight: bold;
}

.f13-movie-language
{
  display: inline-block;
  margin-right: 10px;
}

.f13-movie-language > span
{
  font-weight: bold;
}

.f13-movie-country
{
  display: inline-block;
  margin-right: 10px;
}

.f13-movie-rating > span
{
  font-weight: bold;
}

.f13-movie-country > span
{
  font-weight: bold;
}

.f13-movie-runtime > span
{
  font-weight: bold;
}


.f13-movie-genre > span
{
  font-weight: bold;
}

.f13-movie-awards > span
{
  font-weight: bold;
}

.f13-movie-director
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-director > span
{
  font-weight: bold;
}

.f13-movie-writer
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-writer > span
{
  font-weight: bold;
}

.f13-movie-actors
{
  display: inline-block;
  padding-right: 10px;
}

.f13-movie-actors > span
{
  font-weight: bold;
}
